{% extends "master.html.twig" %}

{% block title %}
    Access denied
{% endblock %}

{% block headExtra %}
    <meta http-equiv="refresh" content="5;url=/login" />
{% endblock %}

{% block content %}
    <p> Access Denied! The section is only allowed for authorised users. <a href="/login"> Click to continue </a> or wait 5 seconds to be redirected</p>
{% endblock %}