{% extends "master.html.twig" %}

{% block title %}
    Add article
{% endblock %}

{% block headExtra %}
    <script src="https://cloud.tinymce.com/stable/tinymce.min.js"></script>
    <script>tinymce.init({selector: 'textarea'});</script>
{% endblock%}

{% block content %}
    {% if errorList %}
        <p>There were errors in your submission</p>
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Title: <input type="text" name="title" value="{{v.title}}"><br>
        Body: <textarea name="body" rows="4" cols="50">{{v.body}}</textarea><br>
        <input type="submit" value="Submit"><br>
    </form>
{% endblock %}