{% extends "master.html.twig" %}

{% block content %}

        <div>
            <div>
                <h2>{{article.title}}</h2>
                by {{article.name}} written on {{article.tsCreated | date("m/d/Y")}}
            </div>
            <div>
                {{article.body|raw}}
            </div>
        </div>


{% endblock %}