{% extends "master.html.twig" %}

{% block title %}
    Internal error
{% endblock %}
    
{% block content %}
    <p> Sorry, an internal error has occured.
        Our team of Coding Ninjas has been notified and is working on a solution. 
        In the meantime please <a href="/"> click here to continue</a>.</p>
    <center><img src="/images/ninja.png" width="200px" alt=""/></center>
{% endblock %}