{% extends "master.html.twig" %}

{% block content %}
    <header>
        {%if user %}
            Hello {{user['name']}}, you may <a href='/logout'>logout</a> or <a href='article/add'>post an article</a>
        {%else%}
            Hello, you may <a href='/login'>login</a> or <a href='/register'>register</a>
        {%endif%}
    </header>
    <h1>The articles list</h1>


    {% for a in articlesList %}
        <div class='article-list'>
            <div>
{#                {{dump(a)}}#}
                <a href='/article/view/{{a.id}}'>{{a.title}}</a>
                by {{a.name}} written on {{a.tsCreated | date("m/d/Y")}}
            </div>
            <div>
                {{a.body|length > 100 ? a.body|striptags|slice(0, 100) ~ '...' : a.body|striptags}}
            </div>
        </div>
    {% endfor %}


{% endblock %}