{% extends "master.html.twig" %}

{% block title %}
    Login success
{% endblock %}

{% block headExtra %}
    <meta http-equiv="refresh" content="5;url=/login" />
{% endblock %}

{% block content %}
    <p> Welcome, login successful! <a href="/login"> Click to continue </a> or wait 5 seconds to be redirected</p>
{% endblock %}