{% extends "master.html.twig" %}

{% block title %}
    Log out
{% endblock %}

{% block headExtra %}
    <meta http-equiv="refresh" content="5;url=/" />
{% endblock %}

{% block content %}
    <p> You've been successfully logged off. <a href="/"> Click to continue </a> or wait 5 seconds to be redirected</p>
{% endblock %}