{% extends "master.html.twig" %}

{% block title %}
    Succesful register
{% endblock %}

{% block headExtra %}
    <meta http-equiv="refresh" content="5;url=/" />
{% endblock %}
    
{% block content %}
    <p> Registration has been succesful!
        <a href="/"> Click to continue </a> or wait 5 seconds to be redirected</p>
{% endblock %}