{% extends "master.html.twig" %}

{% block title %}
    Register
{% endblock %}

{% block headExtra %}
    <script>
        $(document).ready(function () {
            $('input[name=email]').keyup(function () {
                var email = $('input[name=email]').val();
                $('#emailExists').load("/isemailregistered/" + email);
            });
        });
    </script>
{% endblock%}

{% block content %}
    {% if errorList %}
        <p>There were errors in your submission</p>
        <ul>
            {% for error in errorList %}
                <li>{{error | raw}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Name: <input type="text" name="name" value="{{v.name}}"><br>
        Email: <input type="email" name="email" value="{{v.email}}">
        <span id="emailExists"></span><br>
        Password: <input type="password" name="pass1"><br>
        Password (repeat): <input type="password" name="pass2"><br>
        <input type="submit" value="Register"><br>
    </form>
{% endblock %}