{% extends "master.html.twig" %}

{% block title %}
    Index page
{% endblock %}

{% block content %}
    <h1>Welcome page</h1>

    <p>Hi from TWIG, <b>{{nnn}}</b>, you are {{aaa}} y/o.</p>
{% endblock %}