{% extends "master.html.twig" %}

{% block content %}
    
    <h1>The big list</h1>

    <table border="1">
        <tr><th>#</th><th>name</th><th>age</th></tr>
        {% for p in peopleList %}
            <tr><td>{{p.id}}</td><td>{{p.name}}</td><td>{{p.age}}</td></tr>
        {% endfor %}
    </table>

{% endblock %}