<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="/style.css" />
        <title>{% block title %} Default {% endblock %}</title>
        {% block headExtra %}
        {% endblock %}
    </head>
    <body>
        <div id="centerContainer">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">
                &copy; Copyright 2018 by <a href="http://hi.com/">Alex</a>.
            </div>
        </div>
    </body>
</html>