{% extends "master.html.twig" %}

{% block title %}
    Succesful add of person
{% endblock %}

{% block headExtra %}
    <meta http-equiv="refresh" content="5;url=/" />
{% endblock %}
    
{% block content %}
    <p> Person added succesfully.
        <a href="/"> Click to continue </a> or wait 5 seconds to be redirected</p>
{% endblock %}
