{% extends "master.html.twig" %}

{% block title %}
    Add person
{% endblock %}

{% block content %}
    {% if errorList %}
        <p>There were errors in your submission</p>
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
            {% endfor %}
        </ul>
    {% endif %}

        <form method="post">
            Name: <input type="text" name="name" value="{{v.name}}"><br>
            Age: <input type="number" name="age" value="{{v.age}}"><br>
            <input type="submit" value="Add Person"><br>
        </form>
{% endblock %}