body {
    background-color: #ffffcc;
}

div {
    margin: 12px 5px;
}

#centerContent {
    width: 740px;
    padding: 0;
    margin: 0 auto;
    background-color: white;
}

#loginPane {
    border: darkgray 1px solid;
    width: 340px;
    display: inline-table;
}

#registerPane {
    border: darkgray 1px solid;
    width: 340px;
    display: inline-table;
}

#listPane, #rightListPane {
    border: darkgray 1px solid;
    width: 340px;
    display: inline-table;
}

