{% extends "master.html.twig" %}

{% block content %}
    <header>
        {%if user %}
            Hello {{user['name']}}, you may <a href='/logout'>logout</a> or <a href='trips/add'>add a trip</a>. To see the list of your trips <a href="/trips/list"> click here </a>!
        {%else%}
            Hello, you may <a href='/login'>login</a> or <a href='/register'>register</a>
        {%endif%}
    </header>
    


{% endblock %}