{% extends "master.html.twig" %}

{% block title %}
    Login
{% endblock %}

{% block content %}
    <h4><a href="/"> Go back</a></h4>
    {% if error %}
        <p>Login failed. Try again, <a href="/register">register</a>, or <a href="/recover">recover</a> your account.</p>
    {% endif %}

    <form method="post">
        Username: <input type="text" name="username"><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Login"><br>
    </form>
{% endblock %}