<!DOCTYPE html>
<html>
    <head>

        <link rel="stylesheet" href="/style.css" />
        
        <title>{% block title %} Default {% endblock %}</title>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        
        {% block headExtra %}
        {% endblock %}
    </head>
    <body>
        <div id="centerContainer">
            <div id="content">{% block content %}{% endblock %}</div>
            <div id="footer">
                <br>
                <br>
                <br>
                &copy; Copyright 2018 by <a href="http://hi.com/">Alex</a>.
            </div>
        </div>
    </body>
</html>