{% extends "master.html.twig" %}

{% block title %}
    Register
{% endblock %}

{% block headExtra %}
    <script>
        $(document).ready(function () {
            $('input[name=username]').keyup(function () {
                var username = $('input[name=username]').val();
                $('#usernameExists').load("/isusernameregistered/" + username);
            });
        });
    </script>
{% endblock%}

{% block content %}
    <h4><a href="/"> Go back</a></h4>
    {% if errorList %}
        <p>There were errors in your submission</p>
        <ul>
            {% for error in errorList %}
                <li>{{error | raw}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        Username: <input type="text" name="username" value="{{v.username}}">
        <span id="usernameExists"></span><br>
        Password: <input type="password" name="password"><br>
        <input type="submit" value="Register"><br>
    </form>
{% endblock %}