{% extends "master.html.twig" %}

{% block content %}
    <h4><a href="/"> Go back</a></h4>
    {% for t in tripsList %}
        <div>
            City you are going from: <b>{{t.cityFrom}}</b><br>
            City you are going to: <b>{{t.cityTo}}</b><br> 
            Date of the trip: <b>{{t.date}}</b>
        </div>
        <hr>
    {% else %}
        No trips for you
    {% endfor %}


{% endblock %}