{% extends "master.html.twig" %}

{% block title %}
    Add trip
{% endblock %}



{% block content %}
    <h4><a href="/"> Go back</a></h4>
    {% if errorList %}
        <p>There were errors in your submission</p>
        <ul>
            {% for error in errorList %}
                <li>{{error}}</li>
                {% endfor %}
        </ul>
    {% endif %}

    <form method="post">
        City From: <input type="text" name="cityFrom" value="{{v.cityFrom}}"><br>
        City To: <input type="text" name="cityTo" value="{{v.cityTo}}"><br>
        Date: <input type="date" name="date" value="{{v.date}}"><br>
        <input type="submit" value="Submit"><br>
    </form>
{% endblock %}